.product{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    margin: 10px;
    padding: 20px;
    min-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
}

.product__rating{
    display: flex;
}

.product__info{
    margin-bottom: 15px;
}
.product__price{
    margin-top: 5px;
}
.product > img{
    min-height: 200px;
    width: 150px;
    object-fit: contain;
    margin-bottom: 15px;
    margin-top: 10px;
    align-self: center;
}

.product__button{
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    align-self: center;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}


@media (min-width: 600px) {
    .product{
        width: 100%;
    }
}